*{
    font-family: Tahoma;
}
#kontener{
    background-color: #FB8E02;
}
menu{
    margin: 0;
    background-color: #232323;
    width: 20%;
    height: 450px;
}
#glowny{
    display: flex;
}
main{
    background-color: #AEC6E6;
    width: 80%;
    height: 450px;
    overflow: scroll;
}
footer{
    padding: 2px;
    text-align: right;
}
img{
    width: 100%;
}
h1{
    padding: 50px;
    color: maroon;
}
ul{
    list-style: none;
}
li{
    background-color: #FB8E02;
    width: 95%;
    padding: 5px;
    margin-top: 10px;
}
a{
    text-decoration: none;
    font-size: 110%;
}
li:hover{
    background-color: #B36501;
}