body,html{
    background-color: #F6E5DC;
    font-family: Tahoma;
}
header{
    background-color: #2F180C;
    text-align: center;
    color: white;
    height: 60px;
}
#glowny{
    display: flex;
}
#lewy{
    width: 60%;
}
#prawy{
    font-size: 200%;
    padding: 50px;
}
#dol{
    background-color: #D0B6A8;
    text-align: center;
    padding: 30px;
}
footer{
    background-color: #2F180C;
    color: white;
    height: 60px;
}
img{
    height: 400px;
}
li{
    list-style: circle;
}