body{
    font-family: Garamond;
    background-color: rgb(30, 144, 255);
    color: white;
}
header{
    display: flex;
}
#ban1,#ban3{
    width: 25%;
    height: 200px;
}
#ban2{
    text-align: center;
    width: 50%;
    height: 200px;
    font-size: 250%;
}
main{
    background-color: rgb(0, 0, 128);
    padding: 60px;
    text-transform: uppercase;
}
#stopa1{
    text-align: center;
    width: 50%;
}
#stopa2{
    text-align: right;
    width: 50%;
    padding-top: 100px;
}
p{
    padding: 20px;
    font-size: 200%;
    border: 1px solid rgb(192, 192, 192);
}
p:hover{
    background-color: rgb(192, 192, 192);
}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border: 1px solid rgb(192, 192, 192);
    padding: 10px;
}
footer{
    display: flex;
}