body,html,*{
    font-family: Georgia;
}
header{
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}
#srodek{
    display: flex;
}
#L,#S{
    background-color: #A26475;
    color: white;
    width: 30%;
    height: 300px;
}
#P{
    background-color: #A26475;
    color: white;
    width: 40%;
    height: 300px;
    text-align: right;
}
main{
    background-color: #F0EAE2;
    padding: 50px;
}
footer{
    background-color: #824555;
    color: white;
    text-align: center;
    padding: 20px;
}
table,td,th{
    border: 2px solid #69293A;
    padding: 7px;
    border-collapse: collapse;
}
ul{
    list-style: square;
}
#b1{
    background-color: red;
}
#b2{
    background-color: green;
}
#b3{
    background-color: blue;
}
button{
    width: 20px;
    height: 20px;
}