*{
    font-family: Bookman Old Style, Serif;
}
header{
    display: flex;
}
#header1,#header2{
    background-color: DarkCyan;
    color: white;
    width: 50%;
    height: 100px;
    letter-spacing: 15px;
}
footer{
    background-color: darkcyan;
    color: white;
}
main{
    display: flex;
    flex-direction: row;
    gap: 30px;
}
.pracownik{
    background-color: azure;
    width: 30%;
    padding: 1px;
    box-shadow: 4px 4px 8px dimgray;
}
.osoba{
    width: 100%;
}
p,h2,h3{
    margin: 15px;
}
a{
    color: white;
}
h5{
    background-color: teal;
    width: 100%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 0px;
    padding-right: 0px;
}
h5:hover{
    background-color: lightseagreen;
}
blockquote{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-style: italic;
}
#q2,#q3{
    display: none;
}