html,body{
    font-family: Garamond;
}
#blok{
    display: flex;
}
header{
    background-color: tomato;
    color: white;
    text-align: center;
    height: 80px;
}
#glowny{
    height: 600px;
}
#lewy{
    width: 80%;
}
aside{
    background-color: coral;
    width: 20%;
    height: 680px;
}
footer{
    background-color: tomato;
    text-align: center;
    color: white;

}
img{
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
}
#chat{
    border: solid 1px tomato;
    margin: 15px;
    height: 470px;
    overflow:scroll;
}
button{
    background-color: tomato;
    border: solid 1px darkred;
    padding: 5px;
    font-weight: bold;
}
#text{
    width: 500px;
}
h2{
    margin: 0;
    padding: 18.720px;
}
.msgJ,.msgK{
    border-radius: 5px;
    width: 90%;
    height: 70px;
    margin: 2%;
    padding: 3px;
}
.msgJ{
    background-color: #EEE;
}
#Jolka{
    float: left;
}
.msgK{
    background-color: #CCC;
    text-align: right;
}
#Krzysiek{
    float: right;
}