body{
    background-color: #FFCC99;
    font-family: Garamond;
    text-align: center;
}
header,footer{
    background-color: darkgreen;
    color: white;
    padding: 30px;
    font-size: 140%;
}
nav{
    background-color: mediumseagreen;
    word-spacing: 90px;
    padding: 20px;
}
#main{
    display: flex;
}
#lewy{
    width: 70%;
    height: 500px;
}
#prawy{
    background-color: mediumseagreen;
    width: 30%;
    height: 500px;
    text-align: left;
}
table{
    border: dashed 1px darkgreen;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
th,td{
    padding: 5px;
}
a{
    color: white;
}
ol{
    list-style: circle;
}
tr:hover{
    background-color: darkgreen;
    color: white;
}