body,html,*{
    font-family: Garamond,serif;
}
header{
    background: linear-gradient(#97b498,#c8e6c9);
    color: white;
    text-align: center;
    padding: 5px;
}
#glowny{
    display: flex;
}
#lewy{
    background-color: #c8e6c9;
    color: #005005;
    width: 40%;
    height: 600px;
}
#prawy{
    color: #005005;
    width: 60%;
    height: 600px;
    overflow-x: scroll;
    overflow-y: scroll;
}
footer{
    background: linear-gradient(#c8e6c9,#97b498);
    color: white;
    padding: 12px;
}
video{
    width: 100%;
}
form{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
}
#submit{
    background-color: #97b498;
    color: white;
}
#submit:hover{
    background-color: white;
    color: #97b498;
}