*{
    font-family: Tahoma;
}
header{
    display: flex;
}
#header1,#header2{
    background-color: #519657;
    color: white;
    text-align: center;
    height: 150px;
}
#header1{
    width: 70%;
}
#header2{
    width: 30%;
}
#kontener{
    display: flex;
}
#lewy,#srodek,#prawy{
    background-color: #E1E1E1;
    height: 450px;
}
#lewy,#prawy{
    width: 25%;
}
#srodek{
    width: 50%;
    overflow: auto;
}
footer{
    background-color: #80C683;
    text-align: center;
}
#obraz2{
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 0px;
    padding-right: 0px;
}
table{
    border: solid 1px #80C683;
}
td{
    padding: 2px;
}
tr:hover{
    background-color: #80C683;
}
tr:last-of-type{
    background-color: red;
}
p{
    margin: 0px;
}