body,html{
    font-family: Tahoma;
}
header{
    background-color: #003d33;
    color: white;
    text-align: center;
    height: 50px;
}
#naglowek{
    display: flex;
}
#h1{
    width: 70%;
}
#h2{
    width: 30%;
}
#glowny{
    display: flex;
}
#lewy{
    background-color: #26a69a;
    height: 550px;
    width: 30%;
}
#prawy{
    background-color: #26a69a;
    height: 550px;
    width: 70%;
}
footer{
    background-color: #003d33;
    color: white;
}
#wizytowka{
    width: 400px;
    padding: 30px;
    text-align: center;
    border: solid 1px #003d33;
}
#info{
    background-color: #003d33;
    color: white;
    width: 100%;
    height: 30px;
    border: none;
}
#info:hover{
    background-color: #004c40;
}
#pfoot{
    margin: 0;
}